# ==============================================================================
# DATABASE CONFIGURATION (POSTGRES)
# ==============================================================================
POSTGRES_DB=user_db_test
POSTGRES_USER=test_admin
POSTGRES_PASSWORD=test_admin_secure_password

# ==============================================================================
# User service CONFIGURATION
# ==============================================================================
SPRING_PROFILE=test
USER_SERVICE_PORT=8081


# ==============================================================================
# Notify service CONFIGURATION
# ==============================================================================
SPRING_PROFILE=test
NOTIFY_SERVICE_PORT=8082
EMAIL_PROVIDER=resend
#Resend provider config
RESEND_API_KEY=T=YOUR_CUSTOM_VALUE
RESEND_HOST=https://api.resend.com
RESEND_URI=/emails

# ==============================================================================
# MESSAGE BROKER CONFIGURATION (KAFKA KRAFT TEST)
# ==============================================================================
KAFKA_PORT=9093
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@mms-kafka-t:9094

# OPRAVENÉ: Každý listener načúva na svojom vlastnom porte (9093 zvonku, 29092 vnútri, 9094 controller)
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9093,PLAINTEXT_INTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:9094

# OPRAVENÉ: Porty, ktoré Kafka inzeruje, teraz na 100 % sedia s portami, na ktorých reálne načúva!
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9093,PLAINTEXT_INTERNAL://mms-kafka-t:29092

KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT_INTERNAL
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true

# ==============================================================================
# KAFKA MANAGEMENT (KAFKA-UI TEST)
# ==============================================================================
KAFKA_UI_PORT=8087
KAFKA_UI_CLUSTER_NAME=test-cluster
KAFKA_UI_BOOTSTRAP_SERVERS=mms-kafka-t:29092